<div class="register-form">
    <h1>Register form</h1>
    <span>Enter login and password for registration</span>
    <br><br><br>
    <span class="login-label">Login</span> 
    <input type="text" class="login-input" placeholder="Login" [(ngModel)]="login">
    <br><br>
    <span class="password-label">Password</span> 
    <input type="password" class="password-input" placeholder="Password" [(ngModel)]="password">
    <br><br>
    <a routerLink="/login" class="login">Login</a>
    <a routerLink="/login"><button type="button" class="register-button" (click)="register()">Register</button></a>
</div>


